:root {
    --primary-color: #ffffff;
    --secondary-color: #0072bb;
    --tertiary-color: #d9dcd6;
    --quaternary-color: #2a607c;
    --quinary-color: #2589bd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--tertiary-color)
}

/* Header Style Start */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--quaternary-color);
    color: var(--primary-color)
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: var(--tertiary-color)
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}
/* Header Style End */

/* Style all Paragraphs */
p {
    font-size: 16px;
}

/* Hero Syle Start */
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("");
    background-size: cover;
    background-position: center;
}
/* Hero Style End */

/* Section Syle Start */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 95%;
    display: inline-block;
    margin-left: 30px;
   
}

.About-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.Work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
   }

.Contact-Info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
   }

.About-Me img {
    max-height: 200px;
}

.Work img {
    max-height: 200px;
}

.Contact-Info img {
    max-height: 200px;
}

.About-Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Work h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Contact-Info h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Section Style End */
